<%# <h1>Items#index</h1>
<p>Find me in app/views/items/index.html.erb</p> %>
<h1>TOPページ items#index</h1> 

<%# item一覧 %>
<div class=""><%= link_to 'POST', new_item_path, class:""%>
<div class="item-contents">
  <ul class="item-lists">
    <% @items.each do |item| %>
    <li class=list>
      <%= link_to item_path(item.id) do %>
      <div class="item-img-content">
        <%= image_tag "#", class:"item-img" %>
      </div>
      <% end %>
    </li>
    <%end%>
  </ul>
</div>