<%# <h1>Items#index</h1>
<p>Find me in app/views/items/index.html.erb</p> %>
<h1>TOPページ items#index</h1> 

<%# item一覧 %>
<div class="item-post"><%= link_to 'POST', new_item_path, class:""%>
<div class="item-contents">
  <ul class="item-lists">
    <% @items.each do |item| %>
    <li class=list>
      <%= link_to item_path(item.id) do %>
      <%# doで囲ったら全体がリンクになる %>
      <div class="item-img-content">
        <%= image_tag item.image, class:"item-img" %>
      </div>
      <%#Itemの詳細一覧 %>
      <div class='item-info'>
        <h3 class='item-name'>
          <%= item.name %>
        </h3>
      <% end %>
    </li>
    <%end%>
  </ul>
</div>