// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item-lists {
  display: flex;
  list-style: none;
}

.list {
  margin: 10px;
}

.item-img-content {
  border: 2px solid black;
}